@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --white: #ddd;
    --black: #111;
    --transition: all 0.5s ease;
    --blue: rgb(0, 65, 204);
    --lightGrey: #474b4f; 
    --darkGrey: #474b4f;
    --orange: rgb(233, 71, 50);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    line-height: 1.6;
}

img{
    width: 100%;
    display: block;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 15px 0;
}
/* Utility */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.btn{
    background: var(--orange);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--orange);
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--orange);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--orange);

}
.btn:hover{
    background: var(--orange);
    color: #fff;
}
.active{
    color: var(--orange)!important;
}
.activebtn{
    background-color: var(--orange)!important;
    transform: scale(1.1)!important;
}
/* HEADER WSH */
.header{
    min-height: 100vh;
}

.bgimage{
    position: fixed;
    bottom: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    z-index: -10;
}
.top-nav a{
    color: var(--white);
}

.brand-and-navBtn{
    background: #fff;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}

.brand-name{
    letter-spacing: 5px;
    cursor: pointer;
    width: 200px;
    height: auto;
}

.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    cursor: pointer;
}
.navBtn:hover{
    background: #fff;
    color: #fff;
    transition: var(--transition);
}
.top-nav{
    background: gray;

    transform: translateY(-600px);
    transition: var(--transition);
}
.showNav{
    transform: translateY(0);
}
.search-icon{
    display: none;
}
.top-nav ul li{
    padding: 10px 0;
}
.top-nav ul a{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.top-nav ul a::after{
    content: "";
    height: 2px;
    background: var(--orange);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}
.top-nav ul a:hover::after{
    width: 100px;
}
blockquote{
    color:#fff;
    font-size: 30px;
    font-weight: 300;
    opacity: 0.9;
    width: 60vw;
    margin: 200px auto 15px auto;
    text-align: center;

}
.pays-icons{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
}
.pays-icons ul a{
    color: #fff;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--white);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    text-decoration: none;
    overflow: hidden;
}
.pays-icons ul{
    display: flex;
    justify-content: space-around;
}
.pays-icons ul a:hover{
    background: var(--orange);
    transform: scale(1.2);
}
@media screen and (min-width: 992px){
    /* header & footer */
    .nav-section{
        display: flex;
        justify-content: space-between;
    }
    .navBtn{
        display: none;
    }
    .brand-and-navBtn{
        flex: 0 0 10%;
        background: none;
    }
    .top-nav{
        flex: 0 1 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0s ease;
        transform: translateY(0);
        background: transparent;
    }
    .top-nav ul{
        display: flex;
    }
    .top-nav ul li{
        margin-right: 30px;
        margin-left: 30px;
    }
    .search-icon{
        color:white;
        flex: 0 0 10%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        transition: var(--transition);
    }
    .search-icon i:hover{
        transform: scale(1.2);
    }
    .about{
        margin-top: 0;
    }
}


/* MAIN */ 


/* athenes */
.section-athenes{
    padding-top: 40px;
    min-height: 100vh;
    background-color: white;
    z-index: 2;
}
.theatredionysos{
    height: 100vh;
    background: url("../images/theatredionysos.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
}
.section-athenes-left{
    background: rgba(0, 0, 0, 0.75) transparent;
    text-shadow: 0 2px 3px #5a5a5a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}
.section-athenes-left h3{
    font-size: 30px; 
    color:#5a5a5a;
    text-shadow:none;   
}
.theatredionysos h3{
    font-size: 28px;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 2px 5px rgb(0, 0, 0);
}

.section-athenes-right h3{
    color: var(--lightGrey);
}
.section-athenes-right >h3{
    text-align: center;
}
.presathenes{
    padding-top: 25px;
}
.athenes-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.acropole{
    background : url("../images/acropole.jpg") center/cover no-repeat;
    height: 400px;
    transition : var(--transition);
}
.acropole h3{
    font-size: 20px;
    opacity: .9;
    color: white;
    text-shadow: 0 2px 5px #000000;
    text-align: center;
}
.olympeion{
    background : url("../images/olympeion.jpg") center/cover no-repeat;
    height: 400px;
    transition : var(--transition);
}
.olympeion h3{
    font-size: 20px;
    opacity: .9;
    color: white;
    text-shadow: 0 2px 5px #000000;
    text-align: center;
}
.athenes-img div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
}


@media screen and (min-width: 1000px){
    /* section one */
    .section-athenes .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    .section-athenes-left{
        align-self: center;
    }

    .section-athenes-left{
        height: 100%;
    }
}


/* peloponnese */

.section-peloponnese{
    padding-top: 40px;
    min-height: 100vh;
    background-color: white;
    z-index: 2;
}
.section-peloponnese-left h3{
    padding-top: 100px;
    color: var(--lightGrey);
}
.section-peloponnese-left >h3{
    text-align: center;
}
.peloponnese-img{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;

}
.limeni{
    background : url("../images/limeni.jpg") center/cover no-repeat;
    height: 350px;
    transition : var(--transition);
}
.limeni h3{
    font-size: 20px;
    opacity: .9;
    color: white;
    text-shadow: 0 2px 5px #000000;
    text-align: center;
}
.epidaure{
    background : url("../images/epidaure.jpg") center/cover no-repeat;
    height: 350px;
    transition : var(--transition);
}
.epidaure h3{
    font-size: 20px;
    opacity: .9;
    color: white;
    text-shadow: 0 2px 5px #000000;
    text-align: center;
}
.peloponnese-img div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
}
@media screen and (min-width: 1000px){
    /* section one */
    .section-peloponnese .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    .section-peloponnese-right{
        align-self: center;
    }

    .section-peloponnese-right{
        height: 100%;
    }
}

/* thessalonique */

.section-thessalonique{
    padding-top: 50px;
    min-height: 80vh;
    background-color: white;
    z-index: 2;
}
.section-thessalonique-right h3{
    padding-top: 45px;
    color: var(--lightGrey);
}
.section-thessalonique-right >h3{
    text-align: center;
}
.panagiachalkeon{
    background : url("../images/panagiachalkeon.jpg") center/cover no-repeat;
    height: 400px;
    transition : var(--transition);
}
.panagiachalkeon h3{
    padding-top: 15px;
    font-size: 20px;
    opacity: .9;
    color: white;
    text-shadow: 0 2px 5px #000000;
    text-align: center;
}
.section-thessalonique-left div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
}
@media screen and (min-width: 1000px){
    /* section one */
    .section-thessalonique .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    .section-thessalonique-right{
        align-self: center;
        
    }

    .section-thessalonique-right{
        height: 100%;
    }
}

.footer{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.footer-container > div{
    margin: 40px 0;
}
.footer-container h2{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 7px;
}
