@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



:root{
    --white: #ddd;
    --black: #111;
    --transition: all 0.5s ease;
    --blue: rgb(0, 65, 204);
    --lightGrey: #474b4f; 
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    line-height: 1.6;
}

img{
    width: 100%;
    display: block;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 15px 0;
}
/* Utility */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.btn{
    background: var(--blue);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--blue);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);

}
.btn:hover{
    background: var(--blue);
    color: #fff;
}
.active{
    color: var(--blue)!important;
}

/* Header */

.header{
    min-height: 100vh;
}

.bgimage{
    position: fixed;
    bottom: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    z-index: -10;
}
.top-nav a{
    color : var(--black);
}

.brand-and-navBtn{
    background: #000;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}

.brand-name{
    letter-spacing: 5px;
    cursor: pointer;
    width: 200px;
    height: auto;
}

.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    cursor: pointer;
}
.navBtn:hover{
    background: #fff;
    color: #000;
    transition: var(--transition);
}
.top-nav{
    background: gray;

    transform: translateY(-600px);
    transition: var(--transition);
}
.showNav{
    transform: translateY(0);
}
.search-icon{
    display: none;
}
.top-nav ul li{
    padding: 10px 0;
}
.top-nav ul a{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.top-nav ul a::after{
    content: "";
    height: 2px;
    background: var(--blue);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}
.top-nav ul a:hover::after{
    width: 100px;
}

blockquote{
    font-size: 30px;
    font-weight: 300;
    opacity: 0.9;
    width: 60vw;
    margin: 200px auto 15px auto;
    text-align: center;
    text-shadow: 0 3px 3px white;
}

@media screen and (min-width: 992px){
    /* header & footer */
    .nav-section{
        display: flex;
        justify-content: space-between;
    }
    .navBtn{
        display: none;
    }
    .brand-and-navBtn{
        flex: 0 0 10%;
        background: none;
    }
    .top-nav{
        flex: 0 1 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0s ease;
        transform: translateY(0);
        background: transparent;
    }
    .top-nav ul{
        display: flex;
    }
    .top-nav ul li{
        margin-right: 30px;
        margin-left: 30px;
    }
    .search-icon{
        flex: 0 0 10%;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        transition: var(--transition);
    }
    .search-icon i:hover{
        transform: scale(1.2);
    }
}

/* FORM */

.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user-header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 300ms ease-in-out 0.7s forwards;
}

.user-title {   
    margin-bottom: -10px;
    font-weight: 300;
    color: black;

}

.form {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form-input {
    display: block;
    width: 100%;
    padding: 20px;
    border: 0;
    outline: 0;
    transition: 0.3s;
}
.form-input:focus {
        background: darken(#fff, 3%);
}

.btn{
    background: var(--blue);
    border: none;
    display: block;
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--blue);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
    width: 100%;
    padding: 20px;
    outline: 0;;
    
    transition: 0.3s;
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}